* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
    font-size:16px;
    
    

}


hr {
    border: none;
    height: 4px;
    background-color: #572B2B;
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 100px;
}



* h1 {
    font-size:28px;
    font-weight: bold;
}

* h2 {
    font-size:24px;
    font-weight: bold;
}

* h3 {
    font-size:16px;
}

* p {
    font-size:18px;
}


:root{
	--bg-color:#F3F8FA;
	--second-bg-color:#2B4B57;
	--texte-color:#fcfcfc;
	--main-color:#0ef;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;

}

body{
	zoom:120%;
	background: var(--bg-color);
	color: var(--texte-color);
}

section{
	min-height: 100vh;
	padding: 10rem 9% 2rem;
	color: var(--second-bg-color);
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding:2rem 9%;
	background: var(--second-bg-color);
	display:flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.banner {
    width: 100%;
    height: 100vh; /* Prendre toute la hauteur de la fenêtre */
    padding: 2rem;
    text-align: center;
    color: var(--texte-color);
    background-color: var(--bg-color);
	display: flex; /* Changer la couleur de la bannière */
	justify-content: center;
    align-items: center;
}

.banner-content {
    text-align: center;
	top: 0;
    color: var(--texte-color);
	background-color: var(--second-bg-color);
    width: 100%; /* Ajoutez une largeur maximale pour limiter la largeur de la banderole */
	height: 490px;
	margin-top: none;
}

.rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1050px; /* Largeur du rectangle */
    height: 565px; /* Hauteur du rectangle */
    background-color: rgba(236, 231, 231, 0.925); /* Couleur du rectangle */
    z-index: 1; /* Mettre le rectangle au premier plan */
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}


.rectangle .text-center {
    font-size: 40px; /* Taille de police pour le texte */
    color: var(--texte-color	); /* Couleur du texte */
	font-weight: bold;
	margin-top: 15%;
}

.border-top {
    border-top: 7px solid var(--texte-color	); /* Trait au-dessus */
    padding-top: 35px; /* Espacement au-dessus */	
}

.border-bottom {
    border-bottom: 7px solid var(--texte-color	); /* Trait en dessous */
    padding-bottom: 35px; /* Espacement en dessous */
}



.logo{
	font-size: 2.5rem;
	color:var(--texte-color);
	font-weight: 600;
	cursor:default;
}

.navbar a {
	font-size: 1.6rem;
	color: var(--texte-color);
	margin: 4rem;
	}

.navbar a:hover,
.navbar a.active{
	color: #9baeb6;

}

#icone_menu {
	font-size: auto;
	color:var(--texte-color);
}

.home {
    display: flex;
    justify-content: flex-start; /* Aligner le contenu sur la gauche */
    align-items: center;
    font-size: 2.5rem;
    border-radius: 400px;
}

.homeimage {
    margin-left: 300px;
    width: 70%;
    border-radius: 400px;
/* Déplacer la photo vers la droite */
}


footer {
    background-color: var(--second-bg-color);
    padding: 15px;
	height: 17px;
    text-align: center;
	margin-right: 20px;
	margin-left: 20px;
}

section {
    min-height: 100vh;
    padding: 0rem 9% 2rem; /* Ajuster les marges supérieures et inférieures */
    color: var(--second-bg-color);
}


.auto-type {
    font-size:28px;
    font-weight: bold;
    color:#572B2B;
}


.auto-type:hover {
    color: #572B2B; /* Changer la couleur du texte au survol en rouge */
    font-size:28px;
}
